NODE_ENV=production
HOME=/home/Kkwans
TMPDIR=/volume2/Project/.agenthub/central/tmp
PATH=/volume2/Project/AgentHub/node_modules/.bin:/opt/node24/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
AGENTHUB_HOST=127.0.0.1
AGENTHUB_PORT=3210
AGENTHUB_AUTH_MODE=local_trusted
AGENTHUB_DATA_DIR=/volume2/Project/.agenthub/central/data
AGENTHUB_WORKTREE_ROOT=/volume2/Project/.agenthub/central/worktrees
AGENTHUB_WEB_DIST=/volume2/Project/AgentHub/apps/web/dist
LOG_LEVEL=info
